body {
   display: block;
   margin: 0px;
   padding: 0px;
}
.nagivation-bar {
   display: flex;   
   justify-content: center;
   position:sticky;
   top:0px;
   left: 0px;
   right: 0px;
   bottom: 0px;

   height: 64px;
   margin: 0px;
   padding: 0px;
   align-items: center;
   z-index: 10;
   
   list-style: none;

   background-color: rgb(81, 81, 83);
   color: rgb(255, 255, 245);
}

.logo-for-shopdunk {
   display: inline-block;
   background-image: url(image/shopdunk-logo.png);
   background-size: cover;
   margin: 0px;
   padding: 0px;
   width: 220px;
   height: 64px;
}
.nagivation-bar li  {
   display: inline-block;  
   background-color: rgb(81, 81, 83);
   cursor: pointer;
   margin: 0px;
   padding: 0px;
}
.nagivation-bar li a {
   display: flex;
   justify-content: center;
   align-items: center;
   color: rgb(255, 255, 245);
   height: 64px;
   width: auto;
   margin: 0px;
   padding: 0px 20px;
   text-decoration: none;  
   text-align: center;
   font-size: large;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nagivation-bar li a:hover {background-color: rgb(98, 98, 101);}

.dropdown {
   position: relative;
   display: inline-block;   
   z-index: 20;
}
.dropdown ul {
   display: none;   
   list-style: none;
   position: absolute;
   min-width: 250px;
   background-color: rgb(81, 81, 83);
   cursor: pointer;
   padding: 0px;
   box-shadow: 0px 0px 1px gray;
}
.dropdown ul li {
   display: block;
}
.dropdown ul li a {
   display: flex;
   justify-content: center;
   position: relative;
   background-color: rgb(81, 81, 83); 
   color: white;
   text-align: center;
   padding: 0px;
   margin: 0px;
}
.dropdown:hover ul {display: block;}
.dropdown:hover .dropdown-present {background-color: rgb(98, 98, 101);}

.flag {
   width: 20px; 
   height: 20px;
   margin: 0px;
   padding: 0px;
}

.slider-container {
   display: block;
   position: relative;
   width: 100vw;
   height: 500px;
   margin: auto;
   overflow: hidden;
   z-index: 0;
}
.slider-container .slider-content {
   /* position: absolute; */
   height: 100%;
   overflow: hidden;
}
.slider-container .slider-content img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.slider-container .slider-buttons {
   position: absolute;
   top: 45%;
   display: flex;
   justify-content: space-between;
   width: 100%;
   z-index: 1;
}
.slider-container .slider-buttons button {
   display: block;
   background-color: white;
   opacity: 10%;
   border: none;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   margin-left: 10px;
   margin-right: 25px;
   cursor: pointer;
}
.slider-container .slider-buttons button:hover {
   opacity: 50%;
}
.slider-dots {
   display: flex;
   justify-content: center;
   position: absolute;
   width: 100%;
   bottom: 20px;
   z-index: 3;
}
.slider-dots button {
   background-color: orange;
   opacity: 50%;
   display: block;
   width: 20px;
   height: 20px;
   border: none;
   border-radius: 50%;
   margin: 0px 10px;
   cursor: pointer;
}
.slider-dots button:hover {
   opacity: 100%;
}


/* .slider {
   width: 1300px;
   max-width: 1400vw;
   height: 500px;
   margin: auto;
   position: relative;
}
.slider .lists {
   list-style: none;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   display: flex;
   width: max-content;
}

.slider .lists img {
   display: block;
   width: 1300px;
   max-width: 100vw;
   height: 100%;
   object-fit: cover;
} */